<div class="containerdiv">
  <div class="div-center containerwidth text-center">
    <h1 class="page-section-heading text-uppercase text-shadow">My Experience</h1>
    <p class="lead m-0 text-shadow pb-2">I am an experienced developer focused on providing a solid design on all projects. At my core I am a full stack
    developer, able to design and create both front end UIs using UX methodologies but also build efficient REST APIs in .NET/Core. 
    Besides development, I am also experienced managing a team and using DevOps to build sprints for our deliveries to end customers.</p>
    <hr class="separator w-100" />
    <div class="gridcontainer pt-2 pb-2">
      <div>
        <mat-card class="card-min-height card-transparency">
          <mat-card-header class="card-header mat-elevation-z6">
            <mat-card-title>
              <h1>Programming Languages</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="cardcontainer text-shadow pt-3">
              <div>Angular</div>
              <div>React</div>
              <div>C/C++</div>
              <div>C#/.Net</div>
              <div>ColdFusion</div>
              <div>CSS</div>
              <div>HTML</div>
              <div>JavaScript</div>
              <div>PHP</div>
              <div>PL/SQL</div>
              <div>VB.Net</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="card-min-height card-transparency">
          <mat-card-header class="card-header mat-elevation-z6">
            <mat-card-title>
              <h1>Database / Reporting</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="cardcontainer text-shadow pt-3">
              <div>Microsoft SQL Server</div>
              <div>MySQL</div>
              <div>PostgreSQL</div>
              <div>Oracle</div>
              <div>Noetix</div>
              <div>QlikView</div>
              <div>SSRS</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="card-min-height card-transparency">
          <mat-card-header class="card-header mat-elevation-z6">
            <mat-card-title>
              <h1>Version Control</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="cardcontainer text-shadow pt-3">
              <div>CVS</div>
              <div>Git</div>
              <div>Subversion</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="card-min-height card-transparency">
          <mat-card-header class="card-header mat-elevation-z6">
            <mat-card-title>
              <h1>Misc Skills</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="cardcontainer text-shadow pt-3">
              <div>Adobe LiveCycle</div>
              <div>Unix Administration</div>
              <div>Networking</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <hr class="separator w-100" />
    <p class="lead m-0 text-shadow pt-2">Please contact me on <a target="_blank" class="link-text-white" href="https://www.linkedin.com/in/robfleischmann">LinkedIn</a> 
      if you would like my full resume along with any references.
      You are also welcome to visit my <a target="_blank" class="link-text-white" href="https://github.com/robfleischmann">GitHub site</a>.</p>
  </div>
</div>
