<div class="containerdiv">
  <div class="welcomediv h-100 align-items-center">
    <div class="welcometext">
      <div class="welcomeheader">Welcome to my personal site!</div>
      <hr class="separator w-50" />
      I have been a developer for over 20 years, working on various projects that include web and mobile technologies.<br />
      However, I recently took on the role of manager, leading a team at an aerospace manufacturing company.<br />
      Here you can view my experiences in the computer programming field or learn about my hobbies.<br />
      Thank you for visiting!
    </div>
  </div>
</div>